validators/state.json
bittensor_subnet_template.egg-info/

smart_scrape_template.egg-info/
smart_scrape.egg-info/
datura/__pycache__/
__pycache__/
*.pyc
wandb/

.vscode

venv/
.idea/

state.json

app.config.js

.DS_Store
Makefile
pyrightconfig.json
