bittensor==6.7.3
torch==2.1.0
wandb==0.16.3
openai>=1.3.2
requests==2.31.0
Pillow==9.3.0
aiohttp==3.9.0b0
transformers==4.37.2
scikit-learn==1.4.0
datasets==2.17.0
apify-client==1.6.1
elasticsearch==8.11.1
sentencepiece==0.1.99
langchain==0.1.5
langchainhub==0.1.14
langchain-openai==0.0.5
google-search-results==2.4.2
urllib3==1.26.9
wikipedia==1.4.0
youtube-search==2.1.2
arxiv==2.1.0
accelerate==0.27.2
asyncpraw==7.7.1
aiostream==0.5.2
llama-index==0.10.28
llama-index-vector-stores-pinecone==0.1.4
llama-index-embeddings-openai>=0.1.5,<0.2.0
pinecone-client>=3.0.2,<4.0.0
discord.py
psycopg2-binary
SQLAlchemy
llama-index==0.10.28
pinecone-client
openai
python-dateutil
pytz
faker==25.9.1
